[Unit]
Description=Template Settings Service
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/etc/init.d/database_backup.sh

[Install]
WantedBy=multi-user.target
